footer {
    background-color: gray;
}

 body {
     background-color: azure;
 }

 div {
     border : 1px solid black;
     margin: 10px;
 }

 span {
     background-color: yellow;
 }

 .myClass  {
     background-color: blue;
 }

#section1 {
     
    position: absolute;
    top:20px;
    left: 20px;
    background-color: aqua;

}

#section2 {
    
    position: fixed;
    bottom:10px;
    right:3px; 
    background-color: blue;


}
 
nav {

}

header {

    position: static;
    top:20px;
    left:20px;
    background-color: beige;

}


